# None ── 값이 존재하지 않음을 표현함

In [1]:
None  # 아무것도 표시되지 않음

In [2]:
str(None)  # 문자열로 변환하면 'None'

'None'

In [3]:
print('book')

book

In [4]:
str(print('book'))  # print()의 반환값은 None

book

'None'

In [5]:
d = {'a': 1, 'b': 2}  # 딕셔너리 정의
d.get('c')  # 결과가 None이므로 아무것도 표시되지 않음

In [6]:
d.get('a')

1

## 조건식에서의 None 이용

In [7]:
if None:
    print('None은 참')
else:
    print('None은 거짓')

None은 거짓

In [8]:
n = None

In [9]:
if n is None:  # None과 비교 시에는 is를 사용함
    print('변수 n의 값은 None입니다')
else:
    print('변수 n의 값은 None이 아닙니다')

변수 n의 값은 None입니다

# 논리값 ── 참/거짓을 다룸

## bool 타입 ── 논리값을 다루는 타입

In [10]:
# bool 타입의 값은 True와 False 뿐임
type(True)

bool

In [11]:
type(False)

bool

In [12]:
bool(None)  # 어떤 객체라도 논리값을 판정할 수 있음

False

In [13]:
bool([])  # 빈 컨테이너 객체는 거짓

False

In [14]:
bool(['book'])  # 거짓이 아닌 것은 모두 참

True

## 부울 연산

### x or y ── x가 真이면 x, 그렇지 않으면 y를 반환함

In [15]:
# 어느 한쪽이라도 참이면 참
True or True

True

In [16]:
True or False

True

In [17]:
False or True

True

In [18]:
False or False

False

In [19]:
x = ['book']
y = []
x or y  # x가 참이므로 x를 반환함

['book']

In [20]:
y or x  # 바꿔 써도 y가 거짓이므로 x를 반환함

['book']

In [21]:
z = 0
y or z  # 양쪽 모두 거짓이므로 z를 반환함

0

In [22]:
z or y  # 바꿔 쓰면 y를 반환함

[]

### x and y ── x가 참이면 y, 그렇지 않으면 x를 반환함

In [23]:
# 양쪽 모두 참이면 참
True and True

True

In [24]:
True and False

False

In [25]:
False and True

False

In [26]:
False and False

False

In [27]:
x = ['book']
y = []
x and y  # x가 참이므로 y를 반환함

[]

In [28]:
y and x  # y가 거짓이므로 y를 반환함

[]

In [29]:
z = 1
x and z  # 양쪽 모두 참이므로 z를 반환함

1

In [30]:
z and x  # 바꿔 쓰면 x를 반환함

['book']

### not x ── x가 참이면 False, 그렇지 않으면 True를 반환함

In [31]:
# 참이면 거짓, 거짓이면 참을 반환함
not True

False

In [32]:
not False

True

In [33]:
# 반환값은 항상 True 또는 False
not []

True

In [34]:
not ['book']

False

In [35]:
# (not []) and ['book']과 같음
not [] and ['book']

['book']

# 숫자값

## 숫자값 사이의 연산

In [36]:
1 + 2  # 정수값의 덧셈

3

In [37]:
1 - 2.0  # 정수와 소수의 뺄셈

-1.0

In [38]:
1.0 * 2j  # 소수와 복소수의 곱셈

2j

In [39]:
1 / 2  # 정수의 나눗셈은 소수임

0.5

In [40]:
1 / 0  # 0으로 나누면 에러가 발생함

ZeroDivisionError: division by zero

In [41]:
11 % 5  # 나머지 (나눗셈)

1

In [42]:
11 // 5  # 소수점을 버림

2

In [43]:
11 ** 5  # 5제곱

161051

In [44]:
import math
math.log(5)  # 자연 로그값을 구함

1.6094379124341003

## 숫자값을 다루는 내장 타입

In [45]:
a = 1  # 숫자값 리터럴을 사용할 때
a

1

In [46]:
1_000_000  # _을 사용하면 알아보기 쉬움

1000000

In [47]:
a = int(1)
a

1

In [48]:
float(a)  # int 타입 값에서 float 타입 값을 만듦

1.0

In [49]:
complex(a)  # int 타입 값에서 complex 타입 값을 만듦

(1+0j)

### int 타입 ── 정수를 다루는 타입

In [50]:
type(3)

int

In [51]:
3 + 4  # 정수 사이의 연산은 나눗셈 이외에는 int 타입

7

In [52]:
3 / 2  # int 타입 사이의 연산이라도 나눗셈 결과는 float값으로 계산됨

1.5

In [53]:
# int 타입으로의 캐스팅(타입 변환)은 0에 가깝도록 버림
int(3 / -2)

-1

In [54]:
# int 타입은 자릿수 제한이 없음
x = 999999999999999999999999999999999999999999999999999
x * x

999999999999999999999999999999999999999999999999998000000000000000000000000000000000000000000000000001

### float 타입 ── 부동 소수점수를 다루는 타입

In [55]:
type(3.0)

float

In [56]:
type(1e-5)  # 지수 표기도 지원(e는 E로 써도 됨)

float

In [57]:
3.0 + 4.0  # float 타입 사이의 연산은 float 타입

7.0

In [58]:
3.0 + 4  # float 타입과 int 타입 사이의 연산은 float 타입

7.0

In [59]:
infinity = float('inf')  # 무한대

In [60]:
type(infinity)  # 무한대는 float 타입

float

In [61]:
infinity + 1  # 무한대를 포함한 연산

inf

In [62]:
float('-inf')  # 음의 무한대

-inf

In [63]:
nan = float('nan')  # NaN

In [64]:
type(nan)  # NaN도 float 타입

float

In [65]:
nan + 1  # NaN을 포함한 연산

nan

In [66]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

#### float 타임을 다룰 때의 주의점

In [67]:
# 직관적이지 않은 동작
0.1 + 0.1 + 0.1 == 0.3

False

In [68]:
# 직관적인 동작
0.1 + 0.1 == 0.2

True

In [69]:
# round()는 첫 번째 인수값을 두 번째 인수값의 소수점 자릿수에서 반올림
round(0.1 + 0.1 + 0.1, 1) == round(0.3, 1)

True

In [70]:
# 첫 번째 인수와 두 번째 인수가 가까우면 True를 반환함
import math
math.isclose(0.1 + 0.1 + 0.1, 0.3)

True

### complex 타입 ── 복소수를 다루는 타입

In [71]:
a = 1.2 + 3j
a

(1.2+3j)

In [72]:
type(a)

complex

In [73]:
a.real  # 실수부를 얻음

1.2

In [74]:
a.imag  # 허수부를 얻음

3.0

In [75]:
a + 2j  # complex타입 사이의 연산은 complex 타입

(1.2+5j)

In [76]:
a + 2  # complex 타입과 int 타입의 연산은 complex 타입

(3.2+3j)

In [77]:
a + 3.4  # complex 타입과 float 타입의 연산도 complex 타입

(4.6+3j)

## 조건식에서의 숫자값 이용

In [78]:
bool(0.0)  # 값 0은 거짓

False

In [79]:
bool(1)  # 0이외의 값은 참

True

In [80]:
bool(-1)  # 음의 값도 참

True

In [81]:
bool(float('-inf'))  # 무한대도 참

True

# 문자열

## str 타입 ── 문자열을 다루는 타입

In [82]:
# 문자열 작성 
# "book"도 같음
book = 'book'
type(book)

str

In [83]:
# 줄바꿈(\n)을 포함한 문자열 작성
notebook = 'note\nbook'
print(notebook)  # print()를 사용하면 줄을 바꿔서 출력함

note
book

In [84]:
# 따옴표 3개로 감싸면 일반적인 줄바꿈도 포함할 수 있음
notebook = """
note
book
"""
print(notebook)

note
book

In [85]:
# ()로 감싸면 , 또는 +는 불필요함
URL = ('https://gihyo.jp'
       '/magazine/wdpress/archive'
       '/2018/vol104')
URL

'https://gihyo.jp/magazine/wdpress/archive/2018/vol104'

## 문자열 연산

In [86]:
book = 'book'
'note' + book

'notebook'

In [87]:
book * 4

'bookbookbookbook'

In [88]:
book  # 원래 문자열은 그대로임

'book'

## for 문에서의 문자열의 동작

In [89]:
for char in 'book':
    print(char)

b
o
o
k

## 조건식에서의 문자열 이용

In [90]:
bool('')  # 빈문자는 거짓

False

In [91]:
bool('book')  # 빈문자가 아니면 참

True

In [92]:
'oo' in 'book'

True

In [93]:
'x' not in 'book'  # 포함되어 있지 않은 것을 확인

True

## 문자열 안에서의 변수 이용

### f-string ── 식을 삽입할 수 있는 문자열 리터럴

In [94]:
title = 'book'

In [95]:
f'python practice {title}'  # 변수값으로 치환

'python practice book'

In [96]:
f'python practice {"note" + title}'  # 식을 이용

'python practice notebook'

In [97]:
def print_title():
    print(f'python practice {title}')

In [98]:
print_title()

python practice book

In [99]:
title = 'sketchbook'
print_title()  # f-string은 실행 시 평가됨

python practice sketchbook

In [100]:
note = 'note'

In [101]:
# 파이썬 3.7까지
f'title={title}, note={note}'

'title=sketchbook, note=note'

In [102]:
# 파이썬 3.8 이후는 간단히 쓸 수 있음
f'{title=}, {note=}'

"title='sketchbook', note='note'"

In [103]:
# 속성이나 식에도 이용할 수 있음
f'{title.upper()=}'

"title.upper()='SKETCHBOOK'"

### format() ── 인수에 전달한 변수로 문자열을 치환하는 메서드

In [104]:
# 전달한 순서로 치환
'python {} {}'.format('practice', 'book')

'python practice book'

In [105]:
# 인수의 위치를 지정해서 치환
'python {1} {0}'.format('book', 'practice')

'python practice book'

In [106]:
# 키워드를 지정해서 치환
'python {p} {b}'.format(b='book', p='practice')

'python practice book'

In [107]:
# 딕셔너리 정의
d = {'x': 'note', 'y': 'notebook', 'z': 'sketchbook'}

In [108]:
# 사용하지 않는 키가 있어도 관계없음
books = '{x} {z}'
books.format(**d)

'note sketchbook'

### % 연산자 ── 가장 오래된 문자열 포맷

In [109]:
book = 'book'
'note%s' % (book)  # %s를 치환

'notebook'

In [110]:
# %s는 문자열, %d는 10진수값에 대응함
'python practice %s: %d' % (book, 1.0)

'python practice book: 1'

## str 타임과 비슷한 bytes 타입

### str.encode()와 bytes.decode()를 이용한 상호 변환

In [111]:
book = '파이썬 실전 입문'
type(book)

str

In [112]:
book  # 문자열을 표시함

'파이썬 실전 입문'

In [113]:
# UTF-8을 지정해서 인코딩
encoded = book.encode('utf-8')
type(encoded)  # bytes로 되어 있는 것을 확인

bytes

In [114]:
encoded  # bytes열 표시

b'\xed\x8c\x8c\xec\x9d\xb4\xec\x8d\xac \xec\x8b\xa4\xec\xa0\x84 \xec\x9e\x85\xeb\xac\xb8'

In [115]:
# 올바른 인코딩을 지정해서 디코딩
encoded.decode('utf-8')

'파이썬 실전 입문'

In [116]:
# 잘못된 인코딩을 지정하면 에러가 발생함
encoded.decode('shift-jis')

UnicodeDecodeError: 'shift_jis' codec can't decode byte 0xed in position 0: illegal multibyte sequence

### 파이썬 2계열과 파이썬 3계열의 문자열의 차이

# 배열 ── 엘리먼트를 1열로 늘어 놓고 다룸

## list 타입 ── 변경할 수 있는 배열을 다루는 타입

In [117]:
# 리스트 작성
items = ['note', 'notebook', 'sketchbook']
type(items)

list

In [118]:
items

['note', 'notebook', 'sketchbook']

In [119]:
# 문자열은 이터러블한 객체
list('book')

['b', 'o', 'o', 'k']

### 엘리먼트 추가와 삭제

In [120]:
items = ['note', 'notebook', 'sketchbook']

In [121]:
items.append('paperbook')  # 엘리먼트 추가
items

['note', 'notebook', 'sketchbook', 'paperbook']

In [122]:
items = ['book'] + items  # 리스트 결합
items

['book', 'note', 'notebook', 'sketchbook', 'paperbook']

In [123]:
items.pop(0)  # 맨 앞의 엘리먼트를 꺼내고 리스트에서 삭제
'book'

'book'

In [124]:
items

['note', 'notebook', 'sketchbook', 'paperbook']

In [125]:
del items[1]  # 엘리먼트 삭제
items

['note', 'sketchbook', 'paperbook']

### 인덱스를 사용한 엘리먼트로의 접근

In [126]:
items = ['note', 'notebook', 'sketchbook']

In [127]:
items[1]  # 인덱스는 0번에서 시작해 오른쪽으로 셈

'notebook'

In [128]:
items[-2]  # 음수이면 맨 마지막 엘리먼트는 -1이며 왼쪽 방향으로 셈

'notebook'

In [129]:
items[1] = 'book'  # 엘리먼트 변경
items

['note', 'book', 'sketchbook']

In [130]:
items[10]  # 엘리먼트 범위를 벗어난 인덱스를 입력하면 에러가 발생함

IndexError: list index out of range

### 슬라이스를 사용한 리스트 추출

In [131]:
items = ['note', 'notebook', 'sketchbook']

In [132]:
items[0:2]  # 앞에서부터 items[2]의 하나 전까지 포함됨

['note', 'notebook']

In [133]:
items  # 원래 리스트는 그대로 유지됨

['note', 'notebook', 'sketchbook']

In [134]:
items[:2]  # : 앞을 생략하면 맨 앞부터 포함됨

['note', 'notebook']

In [135]:
items[1:]  # : 뒤를 생략하면 마지막까지 포함됨

['notebook', 'sketchbook']

In [136]:
items = ['note', 'notebook', 'sketchbook']
items[0:-1]

['note', 'notebook']

In [137]:
# 엘리먼트 수는 일치하지 않아도 관계없음
items = ['note', 'notebook', 'sketchbook']
items[0:2] = [1, 2, 3]
items

[1, 2, 3, 'sketchbook']

## tuple 타입 ── 변경할 수 없는 배결을 다루는 타입

In [138]:
# 튜플 작성
items = ('note', 'notebook', 'sketchbook')
type(items)

tuple

In [139]:
items

('note', 'notebook', 'sketchbook')

In [140]:
# ()는 없어도 관계없음
items = 'note', 'notebook', 'sketchbook'
items

('note', 'notebook', 'sketchbook')

In [141]:
# 리스트로부터 튜플 작성
items = ['note', 'notebook']
tuple(items)

('note', 'notebook')

### 튜플 생성 시 주의점

In [142]:
tuple()  # 빈 튜플

()

In [143]:
()  # 이것도 빈 튜플임

()

In [144]:
(,)  # 이것은 다름

SyntaxError: invalid syntax (<ipython-input-144-3df8e898234a>, line 1)

In [145]:
items = 'note',  # 엘리먼트가 1개인 튜플 생성

In [146]:
items

('note',)

In [147]:
# 반환값이 튜플임
def add(a, b):
    # 오타로 콤마(,)가 붙음
    return a + b,

In [148]:
1 + add(2, 3)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

### 인덱스를 사용한 엘리먼트로의 접근

In [149]:
items = ('note', 'notebook', 'sketchbook')
items[1]

'notebook'

In [150]:
items[1] = 'book'  # 엘리먼트는 변경할 수 없음

TypeError: 'tuple' object does not support item assignment

In [151]:
# 엘리먼트 수 이상의 인덱스 지정시 에러가 발생함
items[10]

IndexError: tuple index out of range

### 슬라이스를 사용한 튜플 추출

In [152]:
items = ('note', 'notebook', 'sketchbook')
items[0:2]  # 맨 앞에서부터 items[2]의 하나 전까지 포함됨

('note', 'notebook')

In [153]:
items[:2]  # : 앞을 생략하면 맨 처음부터

('note', 'notebook')

In [154]:
items[1:]  # : 뒤를 생략하면 맨 마지막까지

('notebook', 'sketchbook')

In [155]:
# 선택한 부분은 치환할 수 없음
items[0:2] = (1, 2)

TypeError: 'tuple' object does not support item assignment

## for 문에서의 배열의 동작

In [156]:
for item in ['note', 'notebook', 'sketchbook']:
    print(item)

note
notebook
sketchbook

In [157]:
for item in ('note', 'notebook', 'sketchbook'):
    print(item)

note
notebook
sketchbook

## 조건식에서 사용할 수 있는 배열의 특성

In [158]:
bool([])  # 빈 리스트는 거짓

False

In [159]:
bool(['book'])  # 엘리먼트가 존재하면 참

True

In [160]:
'note' in ['note', 'notebook', 'sketchbook']

True

In [161]:
'book' not in ['note', 'notebook', 'sketchbook']

True

In [162]:
empty = tuple()
bool(empty)  # 빈 튜플은 거짓

False

In [163]:
bool(('book',))  # 엘리먼트가 존재하면 참

True

In [164]:
'note' in ('note', 'notebook', 'sketchbook')

True

In [165]:
'book' not in ('note', 'notebook', 'sketchbook')

True

## 튜플과 리스트의 구분

# 딕셔너리 ── 키와 값의 셋을 다룸

## dict 타입 ── 딕셔너리를 다루는 타입

In [166]:
# 딕셔너리 작성
items = {'note': 1, 'notebook': 2, 'sketchbook': 3}
type(items)

dict

In [167]:
items

{'note': 1, 'notebook': 2, 'sketchbook': 3}

In [168]:
# 키워드 인수를 사용한 딕셔너리 작성
dict(note=1, notebook=2, sketchbook=3)

{'note': 1, 'notebook': 2, 'sketchbook': 3}

## 엘리먼트 추가와 삭제

In [169]:
items = {'note': 1, 'notebook': 2, 'sketchbook': 3}

In [170]:
items['book'] = 4  # 엘리먼트 추가
items

{'note': 1, 'notebook': 2, 'sketchbook': 3, 'book': 4}

In [171]:
items.pop('notebook')  # 엘리먼트를 꺼내 딕셔너리에서 삭제

2

In [172]:
items

{'note': 1, 'sketchbook': 3, 'book': 4}

In [173]:
del items['sketchbook']  # 엘리먼트 삭제

In [174]:
items

{'note': 1, 'book': 4}

## 키를 사용한 엘리먼트로의 접근

In [175]:
items = {'note': 1, 'notebook': 2, 'sketchbook': 3}
items['note']  # 키를 지정해 값을 꺼냄

1

In [176]:
items['book']  # 존재하지 않는 키를 지정

KeyError: 'book'

In [177]:
# get()을 사용하면 키가 없어도 에러가 발생하지 않음
# 키가 없을 때의 기본값은 None
items.get('book')

In [178]:
items.get('book', 0)  # 기본값은 변경할 수 있음

0

## 키로 사용할 수 있는 객체의 조건

In [179]:
# 튜플은 변경할 수 없는 객체이므로 키로 사용할 수 있음
book = ('book',)
{book: 0}

{('book',): 0}

In [180]:
# 리스트는 변경할 수 있는 객체이므로 키로 사용할 수 없음
book = ['book']
{book: 0}

TypeError: unhashable type: 'list'

## for 문에서의 딕셔너리의 동작

In [181]:
items = {'note': 1, 'notebook': 2, 'sketchbook': 3}
for key in items:  # 키만 얻음
    print(key)

note
notebook
sketchbook

In [182]:
items = {'note': 1, 'notebook': 2, 'sketchbook': 3}
for value in items.values():  # 키만 얻음
    print(value)

1
2
3

In [183]:
# 키와 값의 튜플을 얻음
for key, value in items.items():
    print(key, value)

note 1
notebook 2
sketchbook 3

## 조건식에서 사용할 수 있는 딕셔너리의 특성

In [184]:
bool({})  # 빈 딕셔너리는 거짓

False

In [185]:
bool({'book': 0})  # 엘리먼트가 존재하면 참

True

In [186]:
items = {'note': 1, 'notebook': 2, 'sketchbook': 3}
'note' in items

True

In [187]:
'book' not in items

True

In [188]:
1 in items  # in 연사자는 키로 판정

False

In [189]:
1 in items.values()  # 값에 대해 in 연산자를 이용

True

# 집합 ── 유일한 엘리먼트를 모아서 다룸

## set 타입 ── 변경할 수 있는 집합을 다루는 타입

In [190]:
# set 타입의 집합을 작성
items = {'note', 'notebook', 'sketchbook'}
type(items)

set

In [191]:
items

{'note', 'notebook', 'sketchbook'}

In [192]:
# 중복된 엘리먼트를 하나로 합침
set(['note', 'notebook', 'sketchbook', 'sketchbook'])

{'note', 'notebook', 'sketchbook'}

In [193]:
set()  # 빈 set 타입 작성

set()

In [194]:
# 순서가 없으므로 인덱스를 이용해 참조할 수 없음
items = {'note', 'notebook', 'sketchbook'}
items[0]

TypeError: 'set' object is not subscriptable

### 엘리먼트 추가와 삭제

In [195]:
items = {'note', 'notebook', 'sketchbook'}
items.add('book')  # 엘리먼트 추가
items

{'book', 'note', 'notebook', 'sketchbook'}

In [196]:
# 엘리먼트를 지정해서 삭제
items.remove('book')
items

{'note', 'notebook', 'sketchbook'}

In [197]:
# 엘리먼트를 꺼내 집합에서 삭제
# 순서가 없으므로 꺼내는 엘리먼트 지정은 불가
items.pop()

'note'

In [198]:
items

{'notebook', 'sketchbook'}

## frozenset 타입 ── 변경할 수 없는 집합을 다루는 타입

In [199]:
# frozenset 타입 집합 작성
items = frozenset(['note', 'notebook', 'sketchbook'])
type(items)

frozenset

In [200]:
# set 타입과 마찬가지로, 엘리머트 중복을 허용하지 않으며 순서도 유지하지 않음
items

frozenset({'note', 'notebook', 'sketchbook'})

In [201]:
# 변경할 수 없는 타입이므로 변경할 수 없음
items.add('book')

AttributeError: 'frozenset' object has no attribute 'add'

## 집합 연산 ── 합집합, 차집합, 교집합, 대칭차집합

In [202]:
set_a = {'note', 'notebook', 'sketchbook'}
set_b = {'book', 'rulebook', 'sketchbook'}

In [203]:
set_a | set_b  # 합집합

{'book', 'note', 'notebook', 'rulebook', 'sketchbook'}

In [204]:
# 합집합. set.union()으로도 동일하게 구할 수 있음
set_a.union(set_b)

{'book', 'note', 'notebook', 'rulebook', 'sketchbook'}

In [205]:
# 차집합. set.difference()로도 동일하게 구할 수 있음
set_a - set_b

{'note', 'notebook'}

In [206]:
# 교집합. set.intersection()으로도 동일하게 구할 수 있음
set_a & set_b

{'sketchbook'}

In [207]:
# 대칭차집합. set.symmetric_difference()로도 동일하게 구할 수 있음
set_a ^ set_b

{'book', 'note', 'notebook', 'rulebook'}

In [208]:
# 부분 집합 판정. set.issubset()으로도 동일하게 구할 수 있음
{'note', 'notebook'} <= set_a

True

## for 문에서의 집합의 동작

In [209]:
items = {'note', 'notebook', 'sketchbook'}
items

{'note', 'notebook', 'sketchbook'}

In [210]:
for item in items:
    print(item)

note
notebook
sketchbook

In [211]:
# frozenset 타입에서도 동일함
frozen_items = frozenset(items)
items

{'note', 'notebook', 'sketchbook'}

In [212]:
for item in frozen_items:
    print(item)

note
notebook
sketchbook

## 조건식에서 이용할 수 있는 집합의 특성

In [213]:
bool(set())  # 빈 집합은 거짓

False

In [214]:
# 엘리먼트가 존재하면 참
items = {'note', 'notebook', 'sketchbook'}
bool(items)

True

In [215]:
'note' in items

True

In [216]:
'book' not in items

True

In [217]:
# frozenset 타입에서도 동일함
bool(frozenset())

False

In [218]:
frozen_items = frozenset(items)
frozen_items

frozenset({'note', 'notebook', 'sketchbook'})

In [219]:
# 엘리먼트가 존재하면 참
bool(frozen_items)

True

In [220]:
'note' in frozen_items

True

In [221]:
'book' not in frozen_items

True

# 컴프리헨션 ── 효율적인 시퀀스 생성

## 리스트 컴프리헨션 ── 효율적인 리스트 생성

In [222]:
numbers = []
for i in range(10):
    numbers.append(str(i))

numbers

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [223]:
[str(v) for v in range(10)]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [224]:
# 앞의 for 문에서 사용한 변수 i가 정의되어 있음
i

9

In [225]:
# 컴프리헨션에서 사용한 변수 v는 바깥쪽에서는 정의되어 있지 않음
v

NameError: name 'v' is not defined

### 중첩된 리스트 컴프리헨션

In [226]:
tuples = []
for x in [1, 2, 3]:
    for y in [4, 5, 6]:
        tuples.append((x, y))

tuples

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [227]:
[(x, y) for x in [1, 2, 3] for y in [4, 5, 6]]

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

### if 문이 있는 컴프리헨션

In [228]:
even = []
for i in range(10):
    if i % 2 == 0:
        even.append(i)

even

[0, 2, 4, 6, 8]

In [229]:
[x for x in range(10) if x % 2 == 0]

[0, 2, 4, 6, 8]

## 기타 컴프리헨션

In [230]:
set_comprehension = {i for i in range(10)}
type(set_comprehension)

set

In [231]:
set_comprehension

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [232]:
dict_comprehension = {str(x): x for x in range(3)}
type(dict_comprehension)

dict

In [233]:
dict_comprehension

{'0': 0, '1': 1, '2': 2}

In [234]:
gen = (i for i in range(3))
type(gen)

generator

In [235]:
gen

# 그 외의 타입을 나타내는 개념

## 가변 객체 ── 정의한 뒤 값을 변경할 수 있는 객체

## 불변 객체 ── 정의한 뒤 값을 변경할 수 없는 객체

## 컨테이너 객체 ── 다른 객체에 대한 참조를 가진 객체

## 이터러블 객체 ── for 문에서 사용할 수 있는 객체

## 호출 가능 객체 ── ()를 붙여 호출할 수 있는 객체

# 정리